<center>
  <a href="/departments/<%= @department.id %>" id="back" class="action-button shadow animate blue" style="margin-bottom: 100%">Назад</a>
</center>
<div class="container">
  <div class="form-container front" style="margin-top: 5%">
    <h1 class="form-label">Редактирование отделения</h1>
    <%= form_for @department do |f| %>
      <div class="group">
        <p>Название отделения</p>
        <%= f.text_field :name %>
        <span class="highlight"></span>
        <span class="bar"></span>
      </div>
      <%= f.submit "Редактировать отделение", class:"button raised btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>