<center>
  <a href="/departments/index" id="back" class="action-button shadow animate blue">Назад</a>
</center>
<div class="container">
  <div class="form-container front">
    <h1 class="form-label">Добавление отделения</h1>
    <%= form_for @department do |f| %>
      <div class="group">
        <p>Название отделения</p>
        <%= f.text_field :name %>
        <span class="highlight"></span>
        <span class="bar"></span>
      </div>
      <%= f.submit "Добавить отделение", class:"button raised btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>