/*
  BODY
 */
body{
 /*
    Maybe need some default styles here...
  */
  /*font-family: 'house-script', 'sans-serif';
  font-style: normal;
  font-weight: 400;*/
  table{
    margin-top: 50px;
  }
}
/*
  HEADER
 */
header{
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  //opacity: 0.8;
  width: 100%;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}
/*
  FONT
 */
@font-face {
  font-family: house-script; /* имя шрифта для CSS правил */
  src: local("SignPainter"), /* проверяем наличие шрифта в ОС пользователя */
  url(asset_path(SignPainter));
}
div.app-name{
  width: 40%;
  letter-spacing: 2.5px;
  font-size: 18pt;
  margin-top: 35px;
  margin-right: 5%;
}
img.logo, span.logo{
  height: 75px;
  width: 75px;
  margin: 0.5%;
  margin-left: 5%;
  margin-right: 23%;
}
div.logout{
  margin-top: 40px;
  margin-left: 40px;
  a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14pt;
    letter-spacing: 0.5px;
  }
}
div.logout a:hover{
  font-size: 18pt;
}
span.logo, div.app-name, div.logout{
  float: left;
}

/*
  CONTENT
 */
div.content{
  margin-top: 110px;
  text-align: center;
  color: black;
  font-size: 12pt;
  h1{
    font-size: 25pt;
    font-weight: 200;
  }
}

/*
  STUDENT SHOW METHOD
 */
