/*
  BODY
 */
body{
 /*
    Maybe need some default styles here...
  */
  font-family: 'house-script', 'sans-serif';
  font-style: normal;
  font-weight: 400;
}
/*
  HEADER
 */
header{
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  background-color: #224079;
  //opacity: 0.8;
  width: 100%;
  height: 18%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}
/*
  FONT
 */
@font-face {
  font-family: house-script; /* имя шрифта для CSS правил */
  src: local("SignPainter"), /* проверяем наличие шрифта в ОС пользователя */
  url(asset_path(SignPainter));
}
div.app-name{
  width: 40%;
  letter-spacing: 2.5px;
  font-size: 24pt;
  margin-top: 3%;
}
img.logo, span.logo{
  height: 100px;
  width: 100px;
  margin: 0.5%;
  margin-left: 5%;
  margin-right: 25%;
}
div.search{
  margin-top: 3%;
  margin-left: -150px;
  height: 30%;
  width: 26%;
  input{
    height: 60%;
    width: 60%;
    border: 1px solid white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
  }
  button{
    height: 70%;
    width: 15%;
    border: 1px solid white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    font-weight: bold;
    border-left-color: #2b5797;
  }
}
span.logo, div.app-name, div.search{
  float: left;
}

/*
  CONTENT
 */
div.content{
  margin-top: 10%;
  text-align: center;
  color: black;
  font-size: 24pt;
  h1{
    font-size: 44pt;
    font-weight: 200;
  }
}

/*
  LOGIN FORM
 */
.container{
  width: 300px;
  height: 300px;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #eee,#f8f8f8, #eee);
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid #566d7f;
  box-shadow: inset 0px 0px 0px 1px #fff, 0px 20px 15px -10px rgba(0,0,0,0.5);
  position: relative;
  overflow: hidden;
  text-align: left;
}
.container>label{
  position: absolute;
  top: 0;
  left:0;
  width: 0px;
  height: 0px;
}
.top, .bottom{
  width: 300px;
  height: 149px;
  display: block;
  background:#224079;
  position: absolute;
  -webkit-transition: all 600ms;
  position: relative;
  box-shadow: inset 0px 0px 40px rgba(0,0,0,0.4);
}
.top{
  top: 0;
  border-bottom: 1px solid #222;
}
.top:before{
  content: '';
  width: 170px;
  height: 30px;
  display:block;
  background: #aaa;
  position: absolute;
  left: 150px;
  bottom: -30px;
  z-index:100;
  -webkit-transform: skew(45deg);
  border-radius: 0px 0px 5px 5px;
  box-shadow: -1px 1px #111, 1px -1px #111, -2px 2px #444, 2px -2px #333;
}
.bottom{
  bottom:0;
  border-top: 1px solid #222;
}
.bottom:before{
  content: '';
  width: 170px;
  height: 30px;
  display:block;
  background: #aaa;
  position: absolute;
  right: 160px;
  top: -30px;
  z-index:100;
  -webkit-transform: skew(45deg);
  border-radius: 5px 5px 0px 0px;
  box-shadow: 1px -1px #111, 2px -2px #333;
}
input[type=checkbox]{display: none;}
.container input[type=checkbox]:checked + label b.top{
  top: -140px;
}
.container input[type=checkbox]:checked + label b.bottom{
  bottom: -140px;
}
.login h4{
  padding: 10px 0px 5px 10px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 1px #fff;
  margin-top: -0.5px;
}
.login form{
  margin-top: -10px;
  font-size: 14pt;
}
.login form p{
  padding: 0px 0px;
}
.login form label{
  display: block;
  width: 70px;
  margin-left: 20px;
  background: #ccc;
  padding: 0px 3px;
  border-radius: 0 30px 0 0;
  color: #111;
  text-shadow: 0px 1px 0px #eee;
  border-top: 1px solid #f8f8f8;
  border-right: 1px solid #fff;
}
.login form input{
  border: 1px solid #ccc;
  padding: 5px 0;
  border-radius: 0 5px 5px 0;
  width: 259px;
  margin-left: 20px;
  box-shadow: 1px 1px #fff;
}
.login form input[type=submit]{
  margin: 15px 0px 0px 160px;
  width: 130px;
  background: #62a1d1;
  border: 1px solid #446f8e;
  border-radius: 3px;
  box-shadow: inset 0px 20px 0px rgba(255,255,255,0.1);
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}
.login form input[type=submit]:hover{
  box-shadow: inset 0px -20px 0px rgba(255,255,255,0.1);
}