<header>
  <span class="logo">
    <a href="<%= root_path %>"><img class="logo" src="<%= asset_path('Logo_200x200.ico')%>"/></a>
  </span>
  <div class="app-name">Придумать новое название</div>
  <div class="search">
    <input type="text"><button>Поиск</button>
  </div>
</header>