<header>
  <span class="logo">
    <img class="logo" src="<%= asset_path('Logo_200x200.ico')%>"/>
  </span>
  <div class="app-name">Smart passes application</div>
  <div class="search">
    <input type="text"><button>Поиск</button>
  </div>
  <div class="menu">
    <nav>
      <ul class="nav">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Списки</a>
          <ul>
            <li><a href="#">ПГС</a>
              <ul>
                <li><a href="#">ЭиОП</a>
                  <ul>
                    <li><a href="#">141-16</a></li>
                    <li><a href="#">141-17</a></li>
                  </ul>
                </li>
                <li><a href="#">ПГС</a>
                  <ul>
                    <li><a href="#">111-15</a></li>
                    <li><a href="#">112-15</a></li>
                    <li><a href="#">113-15</a></li>
                    <li><a href="#">111-16</a></li>
                    <li><a href="#">112-16</a></li>
                    <li><a href="#">113-16</a></li>
                    <li><a href="#">111-17</a></li>
                    <li><a href="#">112-17</a></li>
                    <li><a href="#">113-17</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#">СТОЗ</a>
            <li><a href="#">Заочное отделение</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>