<div class="container">
  <div class="form-container front">
    <h1 class="form-label">Авторизация</h1>
    <%= form_for @user_session do |f| %>
      <div class="group">
        <%= f.text_field :login %>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Логин</label>
      </div>
      <div class="group">
        <%= f.password_field :password %>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Пароль</label>
      </div>
        <%= f.submit "Войти", class:"button raised btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>